@media screen and (max-width: 1261px) {
    .SecaoDeServicos .OsServicos img {
        width: 445px;
    }
}

@media screen and (max-width: 1201px) {
    .SecaoDeServicos .OsServicos img {
        width: 100%;
        max-width: 745px;
        height: auto;
    }
}

@media screen and (max-width: 1046px) {
    .SecaoDeServicos .OsServicos {
        flex-wrap: wrap;
    }

    .SecaoDeServicos .OsServicos .Bloco {
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    }

    .SecaoDeServicos .OsServicos .Imagem {
        justify-content: center;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1019px) {
    .Header {
        padding: 10px 20px;
    }

    .HeroSection,
    .SecaoDeServicos {
        padding: 0 20px;
    }
}

@media screen and (min-width: 945px) {
    .Header .HeaderMob {
        display: none !important;
    }
}

@media screen and (max-width: 945px) {
    .Header .HeaderDesk .Link {
        display: none;
    }

    .Header .HeaderDesk .IconMenuMobile {
        display: flex;
    }

    .Header .HeaderMob.show {
        transform: translateY(-10px) translateX(-5px);
    }

}

@media screen and (max-width: 554px) {
    .Header .HeaderDesk .Btn {
        max-width: 85px;
    }

    .Header .HeaderDesk .Btn a {
        display: none;
    }

    .Header .HeaderMob .Btn {
        display: flex;
    }

    .HeroSection .Icones .Icon1,
    .HeroSection .Icones .Icon2 {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .HeroSection .Conteudo .Titulo p {
        font-size: 1.7em;
    }
}

@media screen and (max-width: 420px) {

    *,
    html,
    body {
        user-select: none !important;
    }

    .HeroIntro .Titulo p {
        font-size: 1.8em;
    }

    .SecaoDeServicos .OsServicos {
        flex-wrap: wrap-reverse;
        gap: 40px;
    }

    .SecaoDeServicos .OsServicos .Bloco .CardServico .Icon {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        font-size: 1.8em;

        &::after {
            width: 50px;
            height: 50px;
        }
    }
}

@media screen and (max-width: 390px) {
    .HeroSection .Conteudo .Btn {
        margin-top: 0;
    }

    .HeroSection .Conteudo .Texto {
        font-size: 1em;
    }

    .HeroSection .Conteudo .Ferramentas {
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 359px) {
    .Header .HeaderDesk .LogoLink .Logo figure img {
        width: 40px;
        height: 40px;
    }

    .Header .HeaderDesk .LogoLink .Logo p {
        display: none;
    }

    .Header .HeaderMob {
        max-width: 250px;
        padding: 20px;
    }

    .SecaoDeServicos .OsServicos .Bloco {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}

@media screen and (max-width: 322px) {
    .Header .HeaderMob {
        right: 10px;
    }
}
